<?xml version="1.0" ?>

<robot name="drone">

  <material name="arches-blue">
    <color rgba="0.0 0.6235294117647059 0.8313725490196079 1" />
  </material>

  <material name="dark-yellow-old">
    <color rgba="0.9 0.7 0.0 1" />
  </material>

  <material name="dark-yellow">
    <color rgba="1.0 0.8196078431 0.1450980392 1" />
  </material>

  <link name="base">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="0.0023" ixy="0.0" ixz="0.0" iyy="0.0023" iyz="0.0" izz="0.004"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="drone.stl" scale="1 1 1"/> -->
      </geometry>
      <material name="dark-yellow"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="drone.stl" scale="1 1 1"/> -->
      </geometry>
    </collision>
  </link>

  <link name="center_of_mass">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>

  <joint name="base_to_center_of_mass" type="fixed">
    <parent link="base"/>
    <child link="center_of_mass"/>
  </joint>

</robot>
